<navbar></navbar>
<div class="container-fluid dd-ctr" id="dd">
    <!-- <h1>Found in the {{ $ctrl.name }}.html</h1> -->
    <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
        <button ng-click="defaultView()" class="btn btn-xs">
            Back
        </button> <!-- ng-show="draftRoster" -->
        <table class="table-condensed dd-plyr-table">
          <tr>
            <th class="col-sm-2">Pos.</th>
            <th class="col-sm-5">Player Name</th>
            <th class="col-sm-2">Tier</th>
            <th class="col-sm-1">BYE</th>
            <th class="col-sm-1">Price</th>
            <!-- <th ng-if="preDrftPlayerDetails" class="col-sm-1">&nbsp;</th> -->
            <!-- <th ng-if="draftRoster" class="col-sm-1">Buy</th> -->
            <th class="col-sm-1"></th>
          </tr>
          <tr ng-repeat="qb in myQBs">
            <td>QB</td>
            <td>{{qb.player}}</td>
            <td>{{qb.tier}}</td>
            <td>{{qb.bye}}</td>
            <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="qb.avg" ng-if="qb"></td>
            <td><a ng-if="qb" ng-click="oopsBtn(qb)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
            <td><a ng-hide="preDrftPlayerDetails" ng-if="qb" ng-click="purchasedPlayer(qb)" href=""><img ng-src="images/chk_mrk.png" ></a></td>
          </tr>
          <tr ng-repeat="rb in myRBs"> <!-- TODO work around pos-chg CSS -->
            <td>RB</td>
            <td>{{rb.player}}</td>
            <td>{{rb.tier}}</td>
            <td>{{rb.bye}}</td>
            <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="rb.avg" ng-if="rb"></td>
            <td><a ng-if="rb" ng-click="oopsBtn(rb)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
            <td><a ng-hide="preDrftPlayerDetails" ng-if="rb" ng-click="purchasedPlayer(rb)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
          </tr>
          <tr ng-repeat="wr in myWRs" class="lt-gry-bk">
            <td>WR</td>
            <td>{{wr.player}}</td>
            <td>{{wr.tier}}</td>
            <td>{{wr.bye}}</td>
            <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="wr.avg" ng-if="wr"></td>
            <td><a ng-if="wr" ng-click="oopsBtn(wr)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
            <td><a ng-hide="preDrftPlayerDetails" ng-if="wr" ng-click="purchasedPlayer(wr)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
          </tr>
          <tr ng-repeat="te in myTEs" class="drk-gry-bk">
            <td>TE</td>
            <td>{{te.player}}</td>
            <td>{{te.tier}}</td>
            <td>{{te.bye}}</td>
            <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="te.avg" ng-if="te"></td>
            <td><a ng-if="te" ng-click="oopsBtn(te)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
            <td><a ng-hide="preDrftPlayerDetails" ng-if="te" ng-click="purchasedPlayer(te)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
          </tr>
          <tr ng-repeat="def in myDEFs" class="lt-gry-bk">
            <td>D/ST</td>
            <td>{{def.player}}</td>
            <td>{{def.tier}}</td>
            <td>{{def.bye}}</td>
            <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="te.avg" ng-if="te"></td>
            <td><a ng-if="te" ng-click="oopsBtn(te)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
            <td><a ng-hide="preDrftPlayerDetails" ng-if="te" ng-click="purchasedPlayer(te)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
          </tr>
          <tr ng-repeat="kckr in myKckr" class="drk-gry-bk">
            <td>K</td>
            <td>{{kckr.player}}</td>
            <td>{{kckr.tier}}</td>
            <td>{{kckr.bye}}</td>
            <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="kckr.avg" ng-if="kckr"></td>
            <td><a ng-if="kckr" ng-click="oopsBtn(kckr)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
            <td><a ng-hide="preDrftPlayerDetails" ng-if="kckr" ng-click="purchasedPlayer(kckr)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
          </tr>
        </table>
    </div> <!-- /Left Column -->
    <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 dd-player-details">

    </div> <!-- /Right Column -->
</div> <!-- /Container && /dd-ctr -->
