<div ng-controller="DraftDayController">
  <!-- <pre>{{players}}</pre> -->
  <div class="container dd-ctr" id="dd">
    <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
      <button ng-show="draftRoster" ng-click="defaultView()" class="btn btn-xs">Back</button>
      
        <!-- TODO  REMOVE
      <div class="roster-view-chg">
        Research <input type="radio" name="rosterView" ng-click="defaultView()" checked="checked">
        Acquired <input type="radio" name="rosterView" ng-click="alternateView()">
        <i uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'" class="fa fa-info-circle"></i>
      </div>
    -->

<!--
TODO add in ng-repeat functionality
-->

<!-- KH0818936_INPUT HERE -->

<!-- ng-repeat="roster in viewRoster" -->

      <table class="table-condensed dd-plyr-table">
        <tr>
          <th class="col-sm-2">Pos.</th>
          <th class="col-sm-5">Player Name</th>
          <th class="col-sm-2">Tier</th>
          <th class="col-sm-1">BYE</th>
          <th class="col-sm-1">Price</th>
          <!-- <th ng-if="preDrftPlayerDetails" class="col-sm-1">&nbsp;</th> -->
          <!-- <th ng-if="draftRoster" class="col-sm-1">Buy</th> -->
          <th class="col-sm-1"></th>
        </tr>
        <tr ng-repeat="qb in myQBs">
          <td>QB</td>
          <td>{{qb.player}}</td>
          <td>{{qb.tier}}</td>
          <td>{{qb.bye}}</td>
          <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="qb.avg" ng-if="qb"></td>
          <td><a ng-if="qb" ng-click="oopsBtn(qb)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
          <td><a ng-hide="preDrftPlayerDetails" ng-if="qb" ng-click="purchasedPlayer(qb)" href=""><img ng-src="images/chk_mrk.png" ></a></td>
        </tr>
        <tr ng-repeat="rb in myRBs"> <!-- TODO work around pos-chg CSS -->
          <td>RB</td>
          <td>{{rb.player}}</td>
          <td>{{rb.tier}}</td>
          <td>{{rb.bye}}</td>
          <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="rb.avg" ng-if="rb"></td>
          <td><a ng-if="rb" ng-click="oopsBtn(rb)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
          <td><a ng-hide="preDrftPlayerDetails" ng-if="rb" ng-click="purchasedPlayer(rb)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
        </tr>
        <tr ng-repeat="wr in myWRs" class="lt-gry-bk">
          <td>WR</td>
          <td>{{wr.player}}</td>
          <td>{{wr.tier}}</td>
          <td>{{wr.bye}}</td>
          <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="wr.avg" ng-if="wr"></td>
          <td><a ng-if="wr" ng-click="oopsBtn(wr)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
          <td><a ng-hide="preDrftPlayerDetails" ng-if="wr" ng-click="purchasedPlayer(wr)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
        </tr>
        <tr ng-repeat="te in myTEs" class="drk-gry-bk">
          <td>TE</td>
          <td>{{te.player}}</td>
          <td>{{te.tier}}</td>
          <td>{{te.bye}}</td>
          <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="te.avg" ng-if="te"></td>
          <td><a ng-if="te" ng-click="oopsBtn(te)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
          <td><a ng-hide="preDrftPlayerDetails" ng-if="te" ng-click="purchasedPlayer(te)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
        </tr>
        <tr ng-repeat="def in myDEFs" class="lt-gry-bk">
          <td>D/ST</td>
          <td>{{def.player}}</td>
          <td>{{def.tier}}</td>
          <td>{{def.bye}}</td>
          <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="te.avg" ng-if="te"></td>
          <td><a ng-if="te" ng-click="oopsBtn(te)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
          <td><a ng-hide="preDrftPlayerDetails" ng-if="te" ng-click="purchasedPlayer(te)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
        </tr>
        <tr ng-repeat="kckr in myKckr" class="drk-gry-bk">
          <td>K</td>
          <td>{{kckr.player}}</td>
          <td>{{kckr.tier}}</td>
          <td>{{kckr.bye}}</td>
          <td><input type="number" onclick="this.select()" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-model="kckr.avg" ng-if="kckr"></td>
          <td><a ng-if="kckr" ng-click="oopsBtn(kckr)" href=""><img src="images/cancelBtn.jpg" alt=""></a></td>
          <td><a ng-hide="preDrftPlayerDetails" ng-if="kckr" ng-click="purchasedPlayer(kckr)" href=""><img src="images/chk_mrk.png" alt=""></a></td>
        </tr>
      </table>
    </div> <!-- /Left Column -->
    <!-- Right Column -->
    <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 dd-player-details">
      <div ng-show="preDrftPlayerDetails">
        <div class="col-md-12 sp-input-btns">
          <div class="col-lg-6">
            <input type="text" placeholder="Please Enter Name..." ng-model="selectedPlayer" ng-disabled="rosterComplete" uib-typeahead="option as option.player for option in players | filter:$viewValue | limitTo:15" class="form-control">

          </div>
          <div class="col-lg-6">
            <div class="dd-go-pass">
              <button ng-disabled="!selectedPlayer" ng-click="addPlayer()" class="btn btn-success btn">Add</button>
              <button ng-disabled="rosterComplete" ng-click="clearSelected()" class="btn btn-danger btn">Clear</button>
              <!-- <button ng-click="readyToDraft()" class="btn btn-info btn">Draft!</button> -->
              <button class="btn btn-info btn" data-toggle="modal" data-target="#sortableList">Table</button>
              <!-- <button ng-disabled="!selectedPlayer" ng-click="passPlayer()" class="btn btn-danger btn">Pass</button> -->
            </div>
          </div>
        </div>
        <div class="dd-command-center">
          <!-- PREVIOUS APPROACH - DO NOT REMOVE
          <div class="col-md-12 cmd-ctr">
            <div class="col-md-5 col-sm-12">
              DO NOT REMOVE
              <p class="dd-p1">Current Price:
                <input type="number" step="1" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-disabled="!selectedPlayer" ng-model="cpVal.level">
                <input type="button" value="+" style="width: 30px;" ng-disabled="!selectedPlayer" add-one>
                <input type="button" value="&mdash;" style="width: 30px;" ng-disabled="!selectedPlayer" class="cp-sub-hide" sub-one>
              </p>

              <p>Avg Price: <span class="dd-avg-price" ng-if="selectedPlayer.player">$</span>{{selectedPlayer.avgprc}}</p>
              <p>Standard Deviation: {{selectedPlayer.stdvprc}}</p>
            </div>
            <div class="col-md-5 dd-auction-price">
              <p>Highest: <span ng-if="selectedPlayer.player">$</span>{{selectedPlayer.highprc}}</p>
              <p>Lowest: <span ng-if="selectedPlayer.player">$</span>{{selectedPlayer.lowprc}}</p>
            </div>
            <div class="col-md-offset-2"></div>
          </div> -->

          <div class="col-md-12 cmd-ctr">
            <div class="col-md-3 col-sm-12">
              <p>Avg Price: <span class="dd-avg-price" ng-if="selectedPlayer.player">${{selectedPlayer.avg}}</span></p>
            </div>
            <div class="col-md-3">
              <p>PRC St.Dev: <span class="dd-avg-price">{{selectedPlayer.prcstdev}}</span></p>
            </div>
            <div class="col-md-3">
              <p>Highest: <span class="dd-avg-price" ng-if="selectedPlayer.player">${{selectedPlayer.highprc}}</span></p>
            </div>
            <div class="col-md-3">
              <p>Lowest: <span class="dd-avg-price" ng-if="selectedPlayer.player">${{selectedPlayer.lowprc}}</span></p>
            </div>
          </div>
        </div> <!-- End Command Center -->

        <div class="col-md-12 player-info">
          <div class="col-md-4">
            <p ng-hide="selectedPlayer.pos === 'DEF'">Player: <span>{{selectedPlayer.player}}</span></p>
            <p ng-show="selectedPlayer.pos === 'DEF'">Team: <span>{{selectedPlayer.player}}</span></p>
          </div>
          <div ng-hide="selectedPlayer.pos === 'DEF'" class="col-md-2">
            <p>Pos: {{selectedPlayer.pos}}</p>
          </div>
          <div ng-hide="selectedPlayer.pos === 'DEF'" class="col-md-2">
            <p>NFL: <span>{{selectedPlayer.team}}</span></p>
          </div>
          <div class="col-md-2">
            <p>Bye: {{selectedPlayer.bye}}</p>
          </div>
          <div ng-hide="selectedPlayer.pos === 'DEF'" class="col-md-2">
            <p>GP: {{selectedPlayer.gp}}</p>
          </div>
          <div ng-show="selectedPlayer.pos === 'DEF'" class="col-md-6">
            <!-- TODO include DEFENSE's previous year's rank -->
            <p>Previous Year's Rank: {{selectedPlayer.gp}}th</p>
          </div>
          <div ng-hide="selectedPlayer.pos === 'DEF'">
            <div class="col-md-5">
              <p ng-if="selectedPlayer.dc === '1'">Depth Chart: <span style="color:green;">FIRST</span> String</p>
              <p ng-if="selectedPlayer.dc === '2'">Depth Chart: <span style="color:orange;">SECOND</span> String</p>
              <p ng-if="selectedPlayer.dc === '3'">Depth Chart: <span style="color:red;">THIRD</span> String</p>
            </div>
            <div class="col-md-6" ng-if="selectedPlayer.sspd === 'TRUE'">
              <p>Suspended: <span style="color:red;">YES - Status: {{selectedPlayer.sspdterm}} weeks</span></p>
            </div>
            <!-- <div class="col-md-3" ng-if="selectedPlayer.sspd === 'TRUE'">
              <p>Term: <span style="color:red;">{{selectedPlayer.sspdterm}}</span></p>
            </div> -->
            <div class="col-md-6" ng-if="selectedPlayer.inj === 'TRUE'">
              <p>INJURED: <span style="color:red;">YES - Status: {{selectedPlayer.injstatus}}</span></p>
            </div>
            <!-- <div class="col-md-4" ng-if="selectedPlayer.inj === 'TRUE'">
              <p>Status: <span style="color:red;">{{selectedPlayer.injstatus}}</span></p>
            </div> -->
            <div class="col-md-5" ng-if="selectedPlayer.handcuff === 'TRUE'">
              <p><span style="color:red;">Handcuff</span> to {{selectedPlayer.hcname}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 player-stats-box dd-value-stats">
          <div class="col-md-6">

            <div class="col-md-12 player-stats">
              <div class="col-md-7 col-sm-4">
                &nbsp; <!-- Player Stats -->
                <p>{{ffLY()}} Points:</p>
                <p>Avg Pts / Wk:</p>
                <p>Pts St. Dev:</p>
                <p>Highest Wk:</p>
                <p>Lowest Week:</p>
                <p>Hi / Low St.Dev:</p>
              </div>
              <div class="col-md-3 col-sm-4 player-score">
                &nbsp; <!-- Metric -->
                <p class="dd-bold">{{selectedPlayer.fpts}}</p>
                <p class="dd-bold">{{selectedPlayer.avgpw}}</p>
                <p class="dd-bold">{{selectedPlayer.ptstd}}</p>
                <p class="dd-bold">{{selectedPlayer.high}}</p>
                <p class="dd-bold">{{selectedPlayer.low}}</p>
                <p class="dd-bold">{{selectedPlayer.hlsd}}</p>
              </div>
              <div class="col-md-2 col-sm-4 player-rank">
                <span ng-if="selectedPlayer.fpts">Rank</span>
                <!-- TODO ADD IN RANK -->
                <p>{{selectedPlayer.fptsrk}}</p>
                <p>{{selectedPlayer.avgpwrk}}</p>
                <p>{{selectedPlayer.ptstdrk}}</p>
                <p>{{selectedPlayer.highrk}}</p>
                <p>{{selectedPlayer.lowrk}}</p>
                <p>{{selectedPlayer.hlsdrk}}</p>
              </div>
            </div>

            <!-- OLD APPROACH
            <p>{{ffLY()}} Points: <span class="dd-bold">{{selectedPlayer.fpts}}</span><span class="dd-percentile">{{selectedPlayer.fptsPer}}</span></p>
            <p>Avg Pts /Week: <span class="dd-bold">{{selectedPlayer.avgpw}}</span></p>
            <p>Points St. Dev: <span class="dd-bold">{{selectedPlayer.ptstd}}</span></p>
            <p>Highest Week: <span class="dd-bold">{{selectedPlayer.high}}</span></p>
            <p>Lowest Week: <span class="dd-bold">{{selectedPlayer.low}}</span></p>
            <p>High / Low St. Dev: <span class="dd-bold">{{selectedPlayer.hlsd}}</span></p>
                END OLD APPROACH -->

            <div ng-hide="selectedPlayer.pos == 'DEF' || selectedPlayer.pos == 'K' || selectedPlayer.pos == 'TE'">
              <table class="table table-bordered no-val-spcr">
                <p class="dd-stats-header">Rushing Yards</p>
                <tr>
                  <th class="col-sm-3">{{ffLY3()}}</th>
                  <th class="col-sm-3">{{ffLY2()}}</th>
                  <th class="col-sm-3">{{ffLY()}}</th>
                  <th class="col-sm-3">PER</th>
                </tr>
                <tr>
                  <td>{{selectedPlayer.ryd13}}</td>
                  <td>{{selectedPlayer.ryd14}}</td>
                  <td>{{selectedPlayer.ryd}}</td>
                  <td>{{selectedPlayer.rydper}}</td>
                </tr>
              </table>
              <table class="table table-bordered no-val-spcr">
                <p class="dd-stats-header">Rushing Touchdowns</p>
                <tr>
                  <th class="col-sm-3">{{ffLY3()}}</th>
                  <th class="col-sm-3">{{ffLY2()}}</th>
                  <th class="col-sm-3">{{ffLY()}}</th>
                  <th class="col-sm-3">PER</th>
                </tr>
                <tr>
                  <td>{{selectedPlayer.rtd13}}</td>
                  <td>{{selectedPlayer.rtd14}}</td>
                  <td>{{selectedPlayer.rtd}}</td>
                  <td>{{selectedPlayer.rtdper}}</td>
                </tr>
              </table>
            </div>
            <!-- IF TIGHT END -->
            <div ng-show="selectedPlayer.pos == 'TE'">
              <table class="table table-bordered no-val-spcr">
                <p class="dd-stats-header">Receiving Yards</p>
                <tr>
                  <th class="col-sm-3">{{ffLY3()}}</th>
                  <th class="col-sm-3">{{ffLY2()}}</th>
                  <th class="col-sm-3">{{ffLY()}}</th>
                  <th class="col-sm-3">PER</th>
                </tr>
                <tr>
                  <td>{{selectedPlayer.pyd13}}</td>
                  <td>{{selectedPlayer.pyd14}}</td>
                  <td>{{selectedPlayer.pyd}}</td>
                  <td>{{selectedPlayer.pydper}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-6">

            <div class="col-md-12 player-stats">
              <div ng-hide="selectedPlayer.pos == 'DEF' || selectedPlayer.pos == 'K'">
                <div class="col-md-7">
                  &nbsp; <!-- Player Stats -->
                  <p>Plays:</p>
                  <p>Pass / Rec Per:</p>
                  <p>Yards / Rush:</p>
                  <p>Yds after Rec:</p><!-- previously: Yards After Catch (YAC) -->
                  <p>Fumbles:</p>
                  <p>Interceptions:</p>
                </div>
                <div class="col-md-3 player-score">
                  &nbsp; <!-- Metric -->
                  <p class="dd-bold">{{selectedPlayer.plays}}</p>
                  <p ng-show="selectedPlayer.passperc" class="dd-bold">{{selectedPlayer.passperc}}</p>
                  <p class="dd-bold">{{selectedPlayer.ypr | limitTo: 4}}</p>
                  <p class="dd-bold">{{selectedPlayer.yac}}</p>
                  <p class="dd-bold">{{selectedPlayer.fum}}</p>
                  <p class="dd-bold">{{selectedPlayer.int}}</p>
                </div>
                <div class="col-md-2 player-rank">
                  <span ng-if="selectedPlayer.player">Rank</span>
                  <!-- TODO ADD IN RANK -->
                  <p>{{selectedPlayer.playsrk}}</p>
                  <p>{{selectedPlayer.passpercrk}}</p>
                  <p>{{selectedPlayer.yprrk}}</p>
                  <p>{{selectedPlayer.yacrk}}</p>
                  <p>{{selectedPlayer.fumrk}}</p>
                  <p>{{selectedPlayer.intrk}}</p>
                </div>
              </div>
              <!-- DEFENSE / SPECIAL TEAMS -->
              <div ng-show="selectedPlayer.pos == 'DEF'">
                <div class="col-md-7">
                  &nbsp;
                  <p>Sacks:</p>
                  <p>Fum Rec:</p>
                  <p>Interceptions:</p>
                  <p>Yds after Rec:</p>
                  <p>Touchdowns:</p>
                  <p>Tot. Yds Agnst:</p>
                </div>
                <div class="col-md-3 player-score">
                  &nbsp;
                  <!-- TODO CHANGE TO NEW STAT -->
                  <p class="dd-bold">{{selectedPlayer.plays}}</p>
                  <p ng-show="selectedPlayer.passperc" class="dd-bold">{{selectedPlayer.passperc}}</p>
                  <p class="dd-bold">{{selectedPlayer.ypr | limitTo: 4}}</p>
                  <p class="dd-bold">{{selectedPlayer.yac}}</p>
                  <p class="dd-bold">{{selectedPlayer.fum}}</p>
                  <p class="dd-bold">{{selectedPlayer.int}}</p>
                </div>
                <div class="col-md-2 player-rank">
                  <span ng-if="selectedPlayer.player">Rank</span>
                  <!-- TODO ADD IN RANK -->
                </div>
              </div>
              <!-- KICKERS -->
              <div ng-show="selectedPlayer.pos == 'K'">
                <div class="col-md-7">
                  &nbsp;
                  <p>Field Goals:</p>
                  <p>FGs Success:</p>
                  <p>FGs Missed:</p>
                  <p>Extra Points:</p>
                  <p>XPTs Missed:</p>
                  <p>XPTs Success:</p>
                </div>
                <div class="col-md-3 player-score">
                  &nbsp;
                  <!-- TODO CHANGE TO NEW STAT -->
                  <p class="dd-bold">{{selectedPlayer.plays}}</p>
                  <p ng-show="selectedPlayer.passperc" class="dd-bold">{{selectedPlayer.passperc}}</p>
                  <p class="dd-bold">{{selectedPlayer.ypr | limitTo: 4}}</p>
                  <p class="dd-bold">{{selectedPlayer.yac}}</p>
                  <p class="dd-bold">{{selectedPlayer.fum}}</p>
                  <p class="dd-bold">{{selectedPlayer.int}}</p>
                </div>
                <div class="col-md-2 player-rank">
                  <span ng-if="selectedPlayer.player">Rank</span>
                  <!-- TODO ADD IN RANK -->
                </div>
              </div>
            </div>

            <div ng-hide="selectedPlayer.pos === 'DEF' || selectedPlayer.pos === 'K' || selectedPlayer.pos === 'TE'">
              <table class="table table-bordered no-val-spcr">
                <p class="dd-stats-header"><span ng-show="selectedPlayer.pos === 'QB'">Passing</span><span ng-hide="selectedPlayer.pos === 'QB'">Receiving</span> Yards</p>
                <tr>
                  <th class="col-sm-3">{{ffLY3()}}</th>
                  <th class="col-sm-3">{{ffLY2()}}</th>
                  <th class="col-sm-3">{{ffLY()}}</th>
                  <th class="col-sm-3">PER</th>
                </tr>
                <tr>
                  <td>{{selectedPlayer.pyd13}}</td>
                  <td>{{selectedPlayer.pyd14}}</td>
                  <td>{{selectedPlayer.pyrd}}</td>
                  <td>{{selectedPlayer.pydper}}</td>
                </tr>
              </table>
              <table class="table table-bordered no-val-spcr">
                <p class="dd-stats-header"><span ng-show="selectedPlayer.pos === 'QB'">Passing</span><span ng-hide="selectedPlayer.pos === 'QB'">Receiving</span> Touchdowns</p>
                <tr>
                  <th class="col-sm-3">{{ffLY3()}}</th>
                  <th class="col-sm-3">{{ffLY2()}}</th>
                  <th class="col-sm-3">{{ffLY()}}</th>
                  <th class="col-sm-2">PER</th>
                </tr>
                <tr>
                  <td>{{selectedPlayer.ptd13}}</td>
                  <td>{{selectedPlayer.ptd14}}</td>
                  <td>{{selectedPlayer.ptd}}</td>
                  <td>{{selectedPlayer.ptdper}}</td>
                </tr>
              </table>

            </div>
            <!-- IF Tight End -->
            <div ng-show="selectedPlayer.pos == 'TE'">
              <table class="table table-bordered no-val-spcr">
                <p class="dd-stats-header">Receiving Touchdowns</p>
                <tr>
                  <th class="col-sm-3">{{ffLY3()}}</th>
                  <th class="col-sm-3">{{ffLY2()}}</th>
                  <th class="col-sm-3">{{ffLY()}}</th>
                  <th class="col-sm-3">PER</th>
                </tr>
                <tr>
                  <td>{{selectedPlayer.ptd13}}</td>
                  <td>{{selectedPlayer.ptd14}}</td>
                  <td>{{selectedPlayer.ptd}}</td>
                  <td>{{selectedPlayer.ptdper}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <button ng-click="readyToDraft()" class="btn btn-success btn sc-button">Go to Draft!</button>

        <!-- Sortable Chart Modal -->

        <div id="sortableList" class="modal fade">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="sort-player-dropdown">
                Postion:
                <select ng-model="selection" ng-options="position for position in sortViewPositions"></select>
              </div>
              <div ng-switch on ="selection" class="sc-table-views">
                <table ng-switch-when="All" class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">Poistion</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">Player</th>
                      <th ng-click="changeSorting('plays')">Rush Yds</th>
                      <th ng-click="changeSorting('playsrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('ryd')">Yds/Rush</th>
                      <th ng-click="changeSorting('yprrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('rtd')">Yds/Rush</th>
                      <th ng-click="changeSorting('passperc')">Yds/Rush</th>
                      <th ng-click="changeSorting('passpercrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('pyrd')">Yds/Rush</th>
                      <th ng-click="changeSorting('ptd')">Yds/Rush</th>
                      <th ng-click="changeSorting('fum')">Yds/Rush</th>
                      <th ng-click="changeSorting('fumrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('int')">Yds/Rush</th>
                      <th ng-click="changeSorting('intrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('ryd14')">Yds/Rush</th>
                      <th ng-click="changeSorting('rtd14')">Yds/Rush</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in items|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.plays}}</td>
                      <td>{{vm.playsrk}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.yprrk}}</td>
                      <td>{{vm.rtd}}</td>
                      <td>{{vm.passperc}}</td>
                      <td>{{vm.passpercrk}}</td>
                      <td>{{vm.pyrd}}</td>
                      <td>{{vm.ptd}}</td>
                      <td>{{vm.fum}}</td>
                      <td>{{vm.fumrk}}</td>
                      <td>{{vm.int}}</td>
                      <td>{{vm.intrk}}</td>
                      <td>{{vm.ryd14}}</td>
                      <td>{{vm.rtd14}}</td>
                      <!-- I'LL need to put this in the QB section -->
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-default="QBs" class="table table-striped"><!--switchtowhen-->
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">Poistion</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">Player</th>
                      <th ng-click="changeSorting('plays')">Rush Yds</th>
                      <th ng-click="changeSorting('playsrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('ryd')">Yds/Rush</th>
                      <th ng-click="changeSorting('yprrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('rtd')">Yds/Rush</th>
                      <th ng-click="changeSorting('passperc')">Yds/Rush</th>
                      <th ng-click="changeSorting('passpercrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('pyrd')">Yds/Rush</th>
                      <th ng-click="changeSorting('ptd')">Yds/Rush</th>
                      <th ng-click="changeSorting('fum')">Yds/Rush</th>
                      <th ng-click="changeSorting('fumrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('int')">Yds/Rush</th>
                      <th ng-click="changeSorting('intrk')">Yds/Rush</th>
                      <th ng-click="changeSorting('ryd14')">Yds/Rush</th>
                      <th ng-click="changeSorting('rtd14')">Yds/Rush</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in qbs|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.plays}}</td>
                      <td>{{vm.playsrk}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.yprrk}}</td>
                      <td>{{vm.rtd}}</td>
                      <td>{{vm.passperc}}</td>
                      <td>{{vm.passpercrk}}</td>
                      <td>{{vm.pyrd}}</td>
                      <td>{{vm.ptd}}</td>
                      <td>{{vm.fum}}</td>
                      <td>{{vm.fumrk}}</td>
                      <td>{{vm.int}}</td>
                      <td>{{vm.intrk}}</td>
                      <td>{{vm.ryd14}}</td>
                      <td>{{vm.rtd14}}</td>
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-when="RBs" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">RBs</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">RBs</th>
                      <th ng-click="changeSorting('ryd')">RBs</th>
                      <th ng-click="changeSorting('ypr')">RBs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in rbs|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.ypr}}</td>
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-when="WRs" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">A</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">B</th>
                      <th ng-click="changeSorting('ryd')">C</th>
                      <th ng-click="changeSorting('ypr')">D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in wrs|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.ypr}}</td>
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-when="TEs" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">A</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">B</th>
                      <th ng-click="changeSorting('ryd')">C</th>
                      <th ng-click="changeSorting('ypr')">D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in tes|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.ypr}}</td>
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-when="DSTs" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">A</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">B</th>
                      <th ng-click="changeSorting('ryd')">C</th>
                      <th ng-click="changeSorting('ypr')">D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in defs|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.ypr}}</td>
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-when="Ks" class="table table-striped">
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">A</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">B</th>
                      <th ng-click="changeSorting('ryd')">C</th>
                      <th ng-click="changeSorting('ypr')">D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in ks|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.ypr}}</td>
                    </tr>
                  </tbody>
                </table>
                <table ng-switch-when class="table table-striped"><!--ng-switch-default-->
                  <thead>
                    <tr>
                      <th class="first" ng-click="changeSorting('pos')">A</th> <!-- optional -->
                      <th ng-click="changeSorting('player')">B</th>
                      <th ng-click="changeSorting('ryd')">C</th>
                      <th ng-click="changeSorting('ypr')">D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="vm in items|orderBy:sort.column:sort.descending">
                      <td class="first">{{vm.pos}}</td>
                      <td>{{vm.player}}</td>
                      <td>{{vm.ryd}}</td>
                      <td>{{vm.ypr}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Player Details -->
      <!-- <div class="dd-command-center">
        <div class="col-md-12 cmd-ctr">
          <div class="col-md-5 col-sm-12">
            <p class="dd-p1">Current Price:
              <input type="number" step="1" maxlength="3" style="width: 31px;" class="cp-val-sty" ng-disabled="!selectedPlayer" ng-model="cpVal.level">
              <input type="button" value="+" style="width: 30px;" ng-disabled="!selectedPlayer" add-one>
              <input type="button" value="&mdash;" style="width: 30px;" ng-disabled="!selectedPlayer" class="cp-sub-hide" sub-one>
            </p>

            <p>Average Price: <span class="dd-avg-price">${{selectedPlayer.avgprc}}</span></p>
            <p>Standard Deviation: {{selectedPlayer.stdvprc}}</p>
          </div>
          <div class="col-md-5 dd-auction-price">
            <p>Highest ${{selectedPlayer.highprc}}</p>
            <p>Lowest ${{selectedPlayer.lowprc}}</p>
          </div>
          <div class="col-md-offset-2"></div>
        </div>

        <div class="col-md-12">
          <div class="col-lg-6">
            <input type="text" placeholder="Please Enter Name..." ng-model="selectedPlayer" ng-disabled="rosterComplete" uib-typeahead="option as option.player for option in players | filter:$viewValue | limitTo:15" class="form-control">

          </div>
          <div class="col-lg-6">
            <div class="dd-go-pass">
              <button ng-disabled="!selectedPlayer" ng-click="addPlayer()" class="btn btn-success btn">Buy</button>
              <button ng-disabled="rosterComplete" ng-click="passPlayer()" class="btn btn-danger btn">Pass</button>
              <button ng-disabled="rosterComplete" ng-click="clearSelected()" class="btn btn-info btn">Clear</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /Command Center-->
      <!-- Don't judge my approach without an ng-repeat ;)  -->
      <div ng-show="draftRoster" class="col-lg-offset-2 col-lg-10 col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
        <table class="table dd-final-roster">
          <tr>
            <th class="col-sm-2">Pos.</th>
            <th class="col-sm-5">Player Name</th>
            <th class="col-sm-2">BYE</th>
            <th class="col-sm-2">Price</th>
          </tr>
          <tr ng-repeat="pQB in purchQBs"> <!-- TODO ng-repeat="purchQB in purchQBs" -->
            <td>QB</td>
            <td>{{pQB.player}}</td>
            <td>{{pQB.bye}}</td>
            <td>{{pQB.avg}}</td>
          </tr>
          <tr ng-repeat="pRB in purchRBs">
            <td>RB</td>
            <td>{{pRB.player}}</td>
            <td>{{pRB.bye}}</td>
            <td>{{pRB.avg}}</td>
          </tr>
          <!-- Pending League Changes
          <tr>
            <td>RB</td>
            <td>{{myRBs[1].player}}</td>
            <td>{{myRBs[1].bye}}</td>
            <td>{{myRBs[1].price}}</td>
          </tr>
          -->
          <tr ng-repeat="pWR in purchWRs">
            <td>WR</td>
            <td>{{pWR.player}}</td>
            <td>{{pWR.bye}}</td>
            <td>{{pWR.price}}</td>
          </tr>
          <!-- <tr>
            <td>WR</td>
            <td>{{purchWRs[1].player}}</td>
            <td>{{purchWRs[1].bye}}</td>
            <td>{{purchWRs[1].price}}</td>
          </tr> -->
          <tr ng-repeat="pTE in purchTEs">
            <td>TE</td>
            <td>{{pTE.player}}</td>
            <td>{{pTE.bye}}</td>
            <td>{{pTE.price}}</td>
          </tr>
          <tr ng-repeat="pFLX in purchFlex">
            <td>FLEX</td>
            <td>{{pFlx.player}}</td>
            <td>{{pFlx.bye}}</td>
            <td>{{pFlx.avg}}</td>
          </tr>
          <tr ng-repeat="pDEF in purchDEFs">
            <td>D/ST</td>
            <td>{{pDEF.player}}</td>
            <td>{{pDEF.bye}}</td>
            <td>{{pDEF.price}}</td>
          </tr>
          <tr ng-repeat="pKckr in purchKckr">
            <td>K</td>
            <td>{{pKckr.player}}</td>
            <td>{{pKckr.bye}}</td>
            <td>{{pKckr.price}}</td>
          </tr>
          <tr ng-repeat="pBE in purchBE">
            <td>BE</td>
            <td>{{pBE.player}}</td>
            <td>{{pBE.bye}}</td>
            <td>{{pBE.avg}}</td>
          </tr>
        </table>
      </div> <!-- /Final Roster -->
      <div ng-show="draftRoster" class="col-md-12 col-sm-12 .auct-bdgt" id="auctionBudget">
        <p class="bdgt-title">budget</p>
        <div class="col-md-4"><!-- TODO remove this once fixed in adjBudget() -->
          <p>Remaining: <span ng-hide="outtaMoney">${{remainingBalance}}</span><span ng-show="outtaMoney">$0</span></p>
        </div>
        <div class="col-md-4">
          <p>Max Bid: <span>${{maxBid}}</span></p>
        </div>
        <div class="col-md-4">
          <p><span>${{amountSpent}}</span> left per spot</p>
        </div>
      </div>
    </div> <!-- /Right Column -->
  </div> <!-- /Container && /.dd-ctr -->
</div> <!-- Controller -->
