/* Navigation */

html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	color: #333;
}

main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}

a {
	color: #009688;
}

a:hover,
a:active {
	text-decoration: none;
}

.ib {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}

.ul-reset {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}

.header {
	text-align: center;
}

.navigation {
	background-color: #eee;
	font-weight: 700;
}

.navigation-list {
	font-size: 0;
	padding: 5px 0 5px 0;
}

.navigation-item {
	font-size: 1.2rem;
}

.navigation-link {
	display: block;
	position: relative;
	padding: 5px 20px;
	text-decoration: none;
	color: #333;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.navigation-link:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: solid 2px;
}

.navigation-link:before {
	left: 0;
}

.navigation-link:hover {
	color: #279029;
}

.navigation-link:hover:before {
	width: 100%;
}

.navigation-link:before {
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}

@media only screen and (max-width:1024px) {
	.wrapper {
		width: 90%;
	}
}

/* drafDay.html */

.dd-plyr-table td {
	text-transform: uppercase;
}

.dd-plyr-table {
	width: 100%;
}

.dd-plyr-table td:nth-child(3) {
	padding-left: 17px;
}

.dd-plyr-table td:nth-child(4) {
	padding-left: 15px;
}

.dd-final-roster {
	/*text-transform: uppercase;*/
}

.dd-final-roster td {
	text-transform: uppercase;
}

.dd-ctr {
  margin-top: 20px;
	/* TODO Decide on a font */
	/*font-family: Helvetica, Arial, sans-serif;*/
}

.remaining-bal {
	float: right;
}

.pos-chg {
  border-bottom: 3px solid #000;
}

/* IDEA - refigure pos-chg class*/

/*
TODO - will need to find softer colors to handle position change. I will need to work out
*/

.lt-gry-bk {
	background-color: #ecf0f1;
}

.drk-gry-bk {
	background-color: #bdc3c7;
}

.player-info {
  padding-top: 10px;
  border: 1px solid black;
}

.player-info span {
	font-weight: bolder;
	color: #AA0000;
}

.player-stats-box {
  margin-top: 10px;
  padding-top: 10px;
  border: 1px dotted black;
}

.auct-bdgt {
	margin: 10px 0;
	border: 1px dotted black;
}

.auct-bdgt p {
	text-align: center;
}

.auct-bdgt, .bdgt-title {
	text-align: center;
	text-transform: uppercase;
	font-size: x-large;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

#auctionBudget p {
	text-transform: uppercase;
	font-size: large;
	text-align: center;
}

.sp-input-btns {
	margin: 10px -30px;
}

.dd-command-center input {
	width: 100%;
}

.cmd-ctr {
	margin: 0 0 10px 0;
	padding-top: 10px;
	border: 1px dotted black;
	font-weight: 600;
	text-transform: uppercase;
	color: #AA0000;
}

.dd-p1 {
	float: left;
}

.cp-val-sty {
	text-align: center;
}

.form-control {
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	font-size: large;
}

/*
.dd-increment {
  margin: 1px 0 2px -6px;
  padding: 3px 7px 4px 7px;
}
*/

.dd-increment-input {
	float: left;
	width: 70%;
}

.dd-increment-btn {
	float: right;
	width: 30%;
}

.player-input {
	font-size: 150%;
	font-weight: 300;
}

.player-stats {
	margin-left: -30px;
	color: #B3995D;
	font-weight: 600;
}

.player-score p {
	padding-left: 2px;
}

.player-rank p {
	padding-left: 6px;
}

/* TODO  remove once new style is done */
.dd-bold {
	font-weight: bolder;
	color: #B3995D;
	padding: 0 10px 0 5px;
	/*float: right; /* <~~ remove if no .dd-percentile */
}

.dd-percentile {
	padding-left: 10px;
	text-transform: lowercase;
}

.dd-value-stats p {
	font-weight: 600;
	text-transform: uppercase;
	color: #AA0000;
}

.dd-player-details th {
	text-align: center;
}

.dd-player-details td {
	text-align: center;
}

.no-val-spcr td {
	height: 37px;
}

.dd-go-pass button {
	text-transform: uppercase;
	width: 75px;
}

.dd-avg-price {
	font-weight: bold;
	color: #000;
}

/*.dd-auction-price {
	margin-top: 5px;
}*/

.dd-stats-header {
	text-align: center;
	/*border: 1px solid #000000;*/
	/*background: #B3995D;*/
	/*d0d6d6*/
}

.roster-view-chg {
	padding: 0 0 5px 1px;
}

.roster-view-chg i {
	padding-left: 2px;
}

.sc-button {
	text-transform: uppercase;
	margin-top: 10px;
	width: 100%;
}

.sort-player-dropdown {
	text-align: center;
	text-transform: uppercase;
	font-size: medium;
	padding-top: 5px;
}

.sc-table-views table {
	cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .dd-player-details {
    margin: 20px 0 0 15px;
  }
}

@media screen and (max-width: 1200px) {
	.cp-sub-hide {
		display: none;
	}
	.dd-go-pass button {
		margin-top: 5px;
	}
}

/* css.animate testing */
/*
.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}
*/
