@import url(http://fonts.googleapis.com/css?family=Roboto);

$ff-white: #FFFFFF;
$ff-black: #000000;
$ff-green: #279029;
$ff-blue: #4D94FF;
$ff-nav-grey: #EEEEEE;
$ff-grey: #D9D9D9;
$ff-drk-gry: #333333;

$primaryColor: #0277BD;
$accentColor: #1DE9B6;
$bgColor: #EFEFEF;
$darkBgColor: #263238;
$lightBgColor: #37474f;
$lightTextColor: #F5F5F5;
$darkTextColor: #212121;

body {
    height: 100%;
    // browsers default to 16px for font-size,
    // so setting top-level font-size to 62.5%
    // scales 1rem to equal 10px.
    font: 62.5% 'Roboto', sans-serif;
}
